.epd-container {
    display: flex;
    justify-content: space-between; /* Để căn đều các phần tử */
    gap: 1rem; /* Khoảng cách giữa các phần tử */
    flex-wrap: wrap; /* Đảm bảo chúng xuống dòng khi không đủ không gian */
}

.epd-item {
    display: flex;
    align-items: center;
    flex: 1; /* Chia đều không gian cho mỗi mục */
    gap: 0.5rem; /* Khoảng cách giữa biểu tượng và văn bản */
}

.epd-item p {
    margin: 0;
}

.epd-flex {
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
}

.epd-justify-between {
    justify-content: space-between; /* Căn đều hai bên */
}

/* css mostroom */
.room-card {
    margin: 1rem;
    width: 300px; /* Cố định kích thước của các thẻ */
}

.rooms-container {
    display: flex; /* Dàn các thẻ theo chiều ngang */
    overflow-x: auto; /* Cho phép cuộn ngang khi các thẻ không vừa màn hình */
    gap: 1rem; /* Khoảng cách giữa các thẻ */
    padding: 1rem; /* Khoảng cách giữa các thẻ và rìa */
}

.room-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Ẩn thanh cuộn dọc */
.rooms-container::-webkit-scrollbar {
    height: 8px;
}

.rooms-container::-webkit-scrollbar-thumb {
    background-color: #888;
}

.rooms-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.small-text {
    font-size: 20px; /* Kích thước chữ nhỏ hơn */
}
